<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers"
  xmlns:co="http://typo3.org/ns/Ps14/Component/ViewHelpers"
  data-namespace-typo3-fluid="true">
    <f:comment>
    <!--
        Dokumentation: Fluid-Komponente <co:card>

        Namespace:
        xmlns:co="http://typo3.org/ns/Ps14/Component/ViewHelpers"

        Parameter für <co:card>:
        - variant: (string, optional) z.B. "default", "primary" – bestimmt die Card-Variante/Klasse
        - id: (string, optional) Optionale ID für die Card
        - class: (string, optional) Zusätzliche CSS-Klassen für die Card
        - url: (string, optional) Wenn gesetzt, wird die Card als Link ausgegeben

        Slots:
        - image: (optional) Bild- oder Icon-Komponente, z.B. <co:card.image />
        - body: (optional) Inhalt der Card, z.B. <co:header />, <co:richtext />
        - actions: (optional) Aktions-Buttons, z.B. <co:button />

        Beispielhafte Aufrufe:
        <co:card>
            <f:fragment name="image">
                <co:card.image image="{image}" />
            </f:fragment>
            <f:fragment name="body">
                <co:header>Card Titel</co:header>
                <co:richtext content="{description}" />
            </f:fragment>
            <f:fragment name="actions">
                <co:button>Details</co:button>
            </f:fragment>
        </co:card>
        <co:card variant="primary" class="my-card">Card mit Klasse</co:card>
        <co:card url="/seite">Klickbare Card</co:card>
    -->
    </f:comment>

    <f:argument name="variant" type="string" optional="{true}" />
    <f:argument name="class" type="string" optional="{true}" />
    <f:argument name="id" type="string" optional="{true}" />
    <f:argument name="url" type="string" optional="{true}" />

    <f:variable name="image"><f:slot name="image" /></f:variable>
    <f:variable name="body"><f:slot name="body" /></f:variable>
    <f:variable name="actions"><f:slot name="actions" /></f:variable>

    <co:cssClass value="card--{variant}" condition="{variant}" />
    <co:cssClass value="card--interactive" condition="{url}" />

    <f:section name="Main">
      <f:slot/>
      <f:if condition="{image}">
        {image -> f:format.raw()}
      </f:if>

      <f:if condition="{body}">
        <div class="card__body">{body -> f:format.raw()}</div>
      </f:if>

      <f:if condition="{actions}">
        <div class="card__actions">{actions -> f:format.raw()}</div>
      </f:if>
    </f:section>

    <f:if condition="{url}">
      <f:then>
        <a href="{url}" id="{id}" class="card {class}">
          <f:render section="Main" arguments="{_all}" />
        </a>
      </f:then>
      <f:else>
        <div class="card {class}">
          <f:render section="Main" arguments="{_all}" />
        </div>
      </f:else>
    </f:if>
</html>