<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers"
  xmlns:co="http://typo3.org/ns/Ps14/Component/ViewHelpers"
  data-namespace-typo3-fluid="true">
    <f:comment>
    <!--
        Dokumentation: Fluid-Komponente <co:card.image>

        Namespace:
        xmlns:co="http://typo3.org/ns/Ps14/Component/ViewHelpers"

        Parameter für <co:card.image>:
        - image: (object, optional) Bild-Objekt, das ausgegeben werden soll
        - icon: (string|TYPO3\CMS\Core\Resource\FileReference, optional) Pfad zu einer SVG/Icon-Datei oder FileReference
        - variant: (string, optional) z.B. "default", "primary" – erweitert die CSS-Klasse
        - class: (string, optional) Zusätzliche CSS-Klassen für das Bild-Element
        - ratio: (string, optional) Seitenverhältnis, z.B. "16-9", "1-1"

        Beispielhafte Aufrufe:
        <co:card.image image="{image}" />
        <co:card.image icon="EXT:site/Resources/Public/Icons/sample.svg" />
        <co:card.image icon="{iconFileReference}" />
        <co:card.image image="{image}" variant="primary" class="my-image" />
        <co:card.image image="{image}" ratio="16-9" />
        <co:card.image icon="{iconFileReference}" ratio="1-1" />
    -->
    </f:comment>

    <f:argument name="media" type="object" />
    <f:argument name="variant" type="string" optional="{true}" />
    <f:argument name="class" type="string" optional="{true}" />
    <f:argument name="ratio" type="string" optional="{true}" />
    <f:argument name="priority" type="boolean" optional="{true}" default="{false}" />
    <f:argument name="containerWidth" type="int" optional="{true}" default="810" />
    <f:argument name="sizes" type="array" optional="{true}" />

    <co:cssClass value="media-container media-container--picture" />
    <co:cssClass value="media-container--ratio media-container--ratio-{ratio}" condition="{ratio}" />
    <co:cssClass value="media-container--{variant}" condition="{variant}" />

    <f:if condition="{media}">
      <div class="{class}">
        <div class="media-container__ratio"><fo:media.responsive image="{media}" class="media-container__source" containerWidth="{containerWidth}" priority="{priority}" sizes="{sizes}" /></div>

        <f:if condition="{media.description}">
          <div class="media-description media-container__description">{media.description -> f:format.nl2br()}</div>
        </f:if>

        <f:if condition="{media.properties.copyright} || {media.properties.source}">
          <div class="media-copyright media-container__copyright">
            <f:if condition="{media.properties.copyright}"><span class="media-copyright__value"><f:translate key="LLL:EXT:ps14_component/Resources/Private/Language/locallang_frontend.xlf:media.copyright" /> {media.properties.copyright}</span></f:if>
            <f:if condition="{media.properties.source}"><span class="media-copyright__value"><f:translate key="LLL:EXT:ps14_component/Resources/Private/Language/locallang_frontend.xlf:media.source" /> {media.properties.source}</span></f:if>
          </div>
        </f:if>
      </div>
    </f:if>
</html>