<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:comment>
    <!--
        Dokumentation: Fluid-Komponente <co:form.label>

        Parameter:
        - id: (string) ID des Feldes, auf das das Label verweist (Pflicht)
        - label: (string) Text des Labels (Pflicht)
        - required: (bool) Optional, zeigt "erforderlich"-Hinweis an, wenn true

        Beispielhafte Aufrufe:
        <co:form.label id="form-field--hj32i5" label="Name" />
        <co:form.label id="form-field--zuwkn4" label="Benutzername" required="true" />

        Beschreibung:
        Dieses Partial erzeugt ein <label>-Element für Formularfelder. Wird der Parameter "required" gesetzt, erscheint ein Hinweistext (übersetzbar) für Pflichtfelder.
    -->
    </f:comment>

    <f:argument name="id" type="string" />
    <f:argument name="label" type="string" />
    <f:argument name="required" type="boolean" optional="{true}" />

    <label class="form-label" for="{id}"><f:format.raw>{label}</f:format.raw>
        <f:if condition="{required}">
            <span class="form-label__required"><f:translate key="LLL:EXT:ps14_component/Resources/Private/Language/locallang_frontend.xlf:label.required" /></span>
        </f:if>
    </label>
</html>