<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers"
      xmlns:co="http://typo3.org/ns/Ps14/Component/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:comment>
        <!--
            Dokumentation: Fluid-Komponente <co:form.textfield>

            Parameter:
            - id: (string) ID des Feldes
            - name: (string) Name des Feldes
            - value: (string) Wert des Feldes
            - label: (string) Label-Text
            - required: (bool|string) true/false – zeigt "erforderlich" an und setzt das required-Attribut
            - description: (string) Beschreibungstext unter dem Label
            - type: (string) Feldtyp, z.B. "text", "password", "email"
            - class: (string) Zusätzliche CSS-Klassen
            - errors: (array) Fehlernachrichten als Array

            Beispielhafte Aufrufe:
            <co:form.textfield id="form-field--hj32i5" name="name" label="Name" value="Christian Pschorr" />
            <co:form.textfield id="form-field--zuwkn4" name="username" label="Benutzername" required="true" description="Der Benutzername muss einzigartig sein..." value="pschorr-christian" />
            <co:form.textfield id="form-field--u45hoi3" name="password" label="Passwort" required="true" description="Das Passwort muss mindestens 8 Zeichen lang sein..." type="password" value="pschorr-christian" errors="{0: 'Es darf nicht das gleiche Passwort...', 1: 'Das Passwort ist zu schwach...'}" errorClass="form-field--error" />
            <co:form.textfield id="form-field--hiowek" name="mail" label="E-Mail" required="true" type="email" value="" />
        -->
    </f:comment>

    <f:argument name="id" type="string" default="" />
    <f:argument name="name" type="string" />
    <f:argument name="label" type="string" />
    <f:argument name="value" type="string" optional="{true}" />
    <f:argument name="required" type="boolean" optional="{true}" />
    <f:argument name="description" type="string" optional="{true}" />
    <f:argument name="type" type="string" default="text" />
    <f:argument name="class" type="string" optional="{true}" />
    <f:argument name="errors" type="string[]" optional="{true}" />
    <f:argument name="autocomplete" type="string" optional="{true}" />

    <f:if condition="{id} == ''">
        <f:variable name="id">form-field--{fo:randomId()}</f:variable>
    </f:if>

    <f:if condition="{type} == 'password' && {autocomplete} == ''">
        <f:variable name="autocomplete">off</f:variable>
    </f:if>

    <co:cssClassCollect name="class" value="form-field form-field--default form-field--{type}" />
    <co:cssClassCollect name="class" value="form-field--error" condition="{errors}" />

    <div class="form-item">
        <co:form.label id="{id}" label="{label}" required="{required}" />
        <co:form.description description="{description}" />

        <input
          type="{type}"
          id="{id}"
          name="{name}"
          class="{class}"
          value="{value}"
          {f:if(condition: required, then: 'required')}
          autocomplete="{autocomplete}"
        >

        <co:form.error errors="{errors}" />
    </div>

<f:comment>
    <!--
    <f:if condition="{property}">
        <f:form.textfield
          id="{id}"
          name="{name}"
          value="{value}"
          type="{type}"
          class="form-field form-field--default form-field--{type} {class} {f:if(condition: errors, then: errorClass)}"
          required="{required}" />
    </f:if>
    -->
</f:comment>
</html>