<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers"
  xmlns:co="http://typo3.org/ns/Ps14/Component/ViewHelpers"
  data-namespace-typo3-fluid="true">
    <f:comment>
    <!--
        Dokumentation: Fluid-Komponente <co:card.image>

        Namespace:
        xmlns:co="http://typo3.org/ns/Ps14/Component/ViewHelpers"

        Parameter für <co:card.image>:
        - image: (object, optional) Bild-Objekt, das ausgegeben werden soll
        - icon: (string|TYPO3\CMS\Core\Resource\FileReference, optional) Pfad zu einer SVG/Icon-Datei oder FileReference
        - variant: (string, optional) z.B. "default", "primary" – erweitert die CSS-Klasse
        - class: (string, optional) Zusätzliche CSS-Klassen für das Bild-Element
        - ratio: (string, optional) Seitenverhältnis, z.B. "16-9", "1-1"

        Beispielhafte Aufrufe:
        <co:card.image image="{image}" />
        <co:card.image icon="EXT:site/Resources/Public/Icons/sample.svg" />
        <co:card.image icon="{iconFileReference}" />
        <co:card.image image="{image}" variant="primary" class="my-image" />
        <co:card.image image="{image}" ratio="16-9" />
        <co:card.image icon="{iconFileReference}" ratio="1-1" />
    -->
    </f:comment>

    <f:argument name="image" type="object" optional="{true}" />
    <f:argument name="icon" type="mixed" optional="{true}" />
    <f:argument name="variant" type="string" optional="{true}" />
    <f:argument name="class" type="string" optional="{true}" />
    <f:argument name="ratio" type="string" optional="{true}" />

    <f:if condition="{image}">
      <co:cssClass value="card__image card__image--picture" />
      <co:cssClass value="card__image--{variant}" condition="{variant}" />
      <co:cssClass value="media-container media-container--picture" />
      <co:cssClass value="media-container--ratio media-container--ratio-{ratio}" condition="{ratio}" />

      <div class="{class}">
        <fo:media.responsive image="{image}" class="media-container__source" containerWidth="540" priority="false" sizes="{0: 360, 1: 480, 2: 640, 3: 1024}" />
      </div>
    </f:if>

    <f:if condition="{icon}">
      <co:cssClass value="card__image card__image--icon icon-container" />
      <co:cssClass value="card__image--{variant}" condition="{variant}" />
      <co:cssClass value="icon-container--ratio icon-container--ratio-{ratio}" condition="{ratio}" />

      <div class="{class}">
        <fo:svg.inline source="{icon}" class="icon-container__source" />
      </div>
    </f:if>
</html>